.body {
  min-width: 1100px;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  padding: 92px 49px 92px 51px;
  background-color: #fff;
}

.header__links-list {
  display: inline-flex;
  gap: 31px;
  margin-top: 43px;
  margin-bottom: 43px;
  list-style: circle;
}

.header__link {
  font-family: 'Raleway', "Arial", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: grid;
  width: 148px;
  height: 105px;
  justify-self: center;
  align-self: center;
}

.header__logo-image {
  width: 92%;
}

.address {
  display: grid;
  font-family: 'Raleway', "Arial", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.3px;
  justify-self: end;
  align-self: center;
}

.address__style {
  width: fit-content;
}

.cover {
  position: relative;
  display: flex;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  flex-direction: column;
  z-index: 0;
  padding-left: 50px;
  padding-right: 50px;
}

.overlay {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #000;
  opacity: 0.6;
}

.cover__title {
  display: grid;
  font-family: 'Raleway', "Arial", sans-serif;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 115%;
  text-transform: uppercase;
  color: #fff;
  grid-template-rows: repeat(3, 1fr);
  padding-top: 165px;
  gap: 11px;
  z-index: 1;
}

.aligned-text {
  letter-spacing: 30px;
}

.aligned-text_center {
  text-align: center;
  letter-spacing: 30px;
}

.aligned-text_right {
  text-align: right;
  letter-spacing: 19px;
}

.leater-spacing-extended {
  letter-spacing: 60px;
}

.cover__description {
  display: flex;
  flex-direction: row;
  padding-top: 118px;
  padding-bottom: 62px;
  justify-content: end;
  gap: 78px;
  box-sizing: border-box;
}

.cover__description-text {
  color: #fff;
  font-family: 'Raleway', "Arial", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 16px;
  margin: auto 0;
  z-index: 1;
}

.bet-button {
  color: #fff;
  font-family: 'Raleway', "Arial", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid #fff;
  padding: 12px 32px;
  z-index: 1;
}

.lots {
  padding: 174px 50px 181px;
}

.lots__heading {
  columns: #000;
  font-family: 'Raleway', "Arial", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  padding-left: 40px;
}

.lots__card-list {
  display: flex;
  padding-top: 27px;
  gap: 25px;
  padding-bottom: 30px;
  list-style-type: none;
  flex-wrap: wrap;
}

.lots__card-list-item {
  display: flex;
  width: 430px;
  min-height: 450px;
  flex-grow: 1;
}

.card {
  position: relative;
  display: flex;
  max-width: 100%;
  height: 100%;
  z-index: 0;
  flex-direction: column;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  color: #fff;
  font-family: 'Raleway', "Arial", sans-serif;
  font-style: normal;
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
  padding: 50px 40px 0;
  z-index: 2;
}

.card__text {
  color: #fff;
  font-family: 'Raleway', "Arial", sans-serif;
  font-style: normal;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  padding: 0 40px 50px;
  z-index: 2;
}

.lots__look-more-link {
  color: #000;
  font-family: 'Raleway', "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-size: 20px;
  margin-left: 40px;
}

.about {
  padding: 0 50px 0;
  display: flex;
}

.about__logo-column {
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 95px;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__column {
  margin: 100px 0 1px 25px;
}

.about__title {
  font-family: 'Raleway', "Arial", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.about__text {
  font-family: 'Raleway', "Arial", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.gap {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  row-gap: 25px;
  max-width: 885px;
}

.footer {
  margin: 180px 50px 90px;
  display: flex;
  justify-content: space-between;
}

.footer__menu-list {
  list-style-type: none;
  text-align: center;
}

.footer__menu-link {
  font-family: 'Raleway', "Arial", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  gap: 48px;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
